.chat-instance{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin-left: 2%;
	border: 1px solid white;
	padding: 5px;
	border-radius: 10px;
}

.chat-instance:hover{
	border: 1px solid black;
}

.chat-inf{
	margin-left: 15px;
}

.chat-image img{
	height: 50px;
}