<html>
    <head>
      {% if title %}
      <title>{{ title }} - Тележка</title>
      {% else %}
      <title>Добро пожаловать в тележку</title>
      {% endif %}
    </head>
    <body>
        <div>Тележка:
            <a href="{{ url_for('index') }}">Главная страница</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Войти</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Выйти</a>
                <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
            {% endif %}
            <a href="{{ url_for('create_chat') }}">Создать беседу</a>
            <a href="{{ url_for('search_chat') }}">Найти беседу</a>
            <a href="{{ url_for('search_user') }}">Найти пользователя</a>
            <a href="{{ url_for('list_of_friends') }}">Список друзей</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
