{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
    <div class='main-part'>
        <link rel="stylesheet" href="../static/messages.css" type="text/css"/>

        <div class="chat-inf">
            <div class="chat-image">
                {% if chat.name.find('none') == -1 %}
                 {% if chat.get_image() == None %}
                     <img src="../static/empty.jpg">
                 {% else %}
                     <img src="data:'image/jpg';base64,{{ chat.get_image() }}">
                 {% endif %}
                 <label>{{ chat.name }}</label>
             {% elif chat.users[0] == current_user %}
                 {% if chat.users[1].get_image() == None %}
                    <img src="../static/empty.jpg">
                 {% else %}
                    <img src="data:'image/jpg';base64,{{ chat.users[1].get_image() }}">
                 {% endif %}
                 <label>{{ chat.users[1].username }}</label>
             {% else %}
                 {% if chat.users[0].get_image() == None %}
                    <img src="../static/empty.jpg">
                 {% else %}
                    <img src="data:'image/jpg';base64,{{ chat.users[0].get_image() }}">
                 {% endif %}
                 <label>{{ chat.users[0].username }}</label>
             {% endif %}
            </div>
        </div>

        <div class="chat-message">

            {% for post in posts %}
                {% if current_user==post.author %}
                    <div class="current-user">
                        <table>
                            <tr valign="top">
                                <td>
                                    {% if post.author.get_image() == None %}
                                <img src="../static/empty.jpg" max-width="36" height="36">
                            {% else %}
                                <img src="data:'image/jpg';base64,{{ post.author.get_image() }}" width="36" height="36">
                            {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}
                                    >
                                        {{ post.author.username }} </a>
                                    <br>{{ post.body }}
                                    <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="message-user">
                        <table>
                            <tr valign="top">
                                <td>{% if post.author.get_image() == None %}
                                <img src="../static/empty.jpg" width="36" height="36">
                            {% else %}
                                <img src="data:'image/jpg';base64,{{ post.author.get_image() }}" width="36" height="36">
                            {% endif %}</td>
                                <td>
                                    <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}
                                    >
                                        {{ post.author.username }} </a>
                                    <br>{{ post.body }}
                                    <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
                {#                <div class="message-user">#}
                {#                    <table>#}
                {#                        <tr valign="top">#}
                {#                            <td><img src="{{ post.author.avatar(36) }}"></td>#}
                {#                            <td>#}
                {#                                <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}>#}
                {#                                    {{ post.author.username }} </a>#}
                {#                                <br>{{ post.body }}#}
                {#                                <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                    </table>#}
                {#                </div>#}

            {% endfor %}
            <form action="{{ url_for('message', chat_id=chat.id) }}" method="POST" enctype="multipart/form-data">
                <p><label>
                    <textarea  cols="30" class="form-control" name="text"></textarea>
                </label></p>
                    <p><input type="submit"   value="отправить"></p>
            </form>
            {% if prev_url %}
                <a href="{{ prev_url }}">предыдущие сообщения</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">более новые сообщения</a>
            {% endif %}
        </div>
    </div>
    <div class="invite-block">
        <div class="card-header">Напоминание</div>
        <div class="card-body">
            {% if chat.name.find('none') == -1 %}
                <h5 class="card-title"><a href="{{ url_for('invite_user', chat_id=chat.id) }}">Пригласить нового пользователя в беседу</a></h5>
                <form action="{{ url_for('upload_chat_image', chat_id=chat.id) }}" method="POST" enctype="multipart/form-data">
                    <p><input type="file" class="form-control" name="file"></p>
                    <p><input type="submit"  class="form-control" value="Сменить изображение чата"></p>
                </form>
            {% endif %}
            {% for user in chat.users %}
                <div class="not-block">
                    <p>
                        {% if user.get_image() == None %}
                        <img src="../static/empty.jpg" width="36" height="36">
                    {% else %}
                        <img src="data:'image/jpg';base64,{{ user.get_image() }}" width="36" height="36">
                    {% endif %}
                    {{ user.username }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
        </div>
    </div>

{% endblock %}

<javascript>
    $(document).ready(function(){
    $('#action_menu_btn').click(function(){
    $('.action_menu').toggle();
    });
    });
</javascript>
