{% extends "base.html" %}

{% block content %}
    <div class='main-part'>
        <link rel="stylesheet" href="../static/messages.css" type="text/css"/>

        <div class="chat-inf">
            <div class="chat-image">
                <img src="../static/empty.jpg">
                <label>
                    {% if chat.name.find('none') == -1 %}
                        <label>{{ chat.name }}</label>
                    {% elif chat.users[0] == current_user %}
                        <label>{{ chat.users[1].username }}</label>
                    {% else %}
                        <label>{{ chat.users[0].username }}</label>
                    {% endif %}
                </label>
            </div>
        </div>

        <div class="chat-message">

            {% for post in posts %}
                {% if current_user==post.author %}
                    <div class="current-user">
                        <table>
                            <tr valign="top">
                                <td><img src="{{ post.author.avatar(36) }}"></td>
                                <td>
                                    <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}
                                    >
                                        {{ post.author.username }} </a>
                                    <br>{{ post.body }}
                                    <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="message-user">
                        <table>
                            <tr valign="top">
                                <td><img src="{{ post.author.avatar(36) }}"></td>
                                <td>
                                    <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}
                                    >
                                        {{ post.author.username }} </a>
                                    <br>{{ post.body }}
                                    <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
                {#                <div class="message-user">#}
                {#                    <table>#}
                {#                        <tr valign="top">#}
                {#                            <td><img src="{{ post.author.avatar(36) }}"></td>#}
                {#                            <td>#}
                {#                                <a href="{{ url_for('user', username=post.author.username) }}" {{ post.author.username }}>#}
                {#                                    {{ post.author.username }} </a>#}
                {#                                <br>{{ post.body }}#}
                {#                                <br>{{ post.timestamp.strftime('%H:%M %d/%m') }}#}
                {#                            </td>#}
                {#                        </tr>#}
                {#                    </table>#}
                {#                </div>#}

            {% endfor %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(size=64) }}<br>
                    {% for error in form.post.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

        </div>
    </div>
    <div class="notification-block">
        <div class="card-header">Напоминание</div>
        <div class="card-body">
            {% if chat.name.find('none') == -1 %}
                <h5 class="card-title"><a href="{{ url_for('invite_user', chat_id=chat.id) }}">Пригласить нового пользователя в беседу</a></h5>
            {% endif %}
            {% for user in chat.users %}
                <div class="not-block">
                    <p>
                        <img src="{{ user.avatar(36) }}">
                        {{ user.username }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

<javascript>
    $(document).ready(function(){
    $('#action_menu_btn').click(function(){
    $('.action_menu').toggle();
    });
    });
</javascript>
