{% extends "base.html" %}

{% block content %}
    <h1>Привет, {{ current_user.username }}!</h1>
    <h2>Ваши чаты:</h2>
    {% for chat in chats %}
        {% if chat.name.find('none') == -1 %}
            <div><p><a href="{{ url_for('chat', name=chat.name) }}">{{ chat.name }} </a></p></div>
        {% elif chat.users[0] == current_user %}
            <div><p><a href="{{ url_for('chat', name=chat.name) }}">{{ chat.users[1].username }}</a></p></div>
        {% else %}
            <div><p><a href="{{ url_for('chat', name=chat.name) }}">{{ chat.users[0].username }}</a></p></div>
        {% endif %}
    {% endfor %}
    {% if count > 0 %}
    <p>Вас приглашают в следующие чаты:</p>
        {% for invitation in invitations %}
            <div>
                <p>{{ invitation.chat.name }}</p>
                <p><a href="{{ url_for('accept_the_invitation', invitation_id=invitation.id) }}">Принять пришлашение</a></p>
                <p><a href="{{ url_for('decline_the_invitation', invitation_id=invitation.id) }}">Отклонить пришлашение</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
