{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class='main-part '>

                <h1>Привет, {{ current_user.username }}!</h1>
                <h2>Ваши чаты:</h2>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.create_name.label }}<br>
                    {#    size=64#}
                    {{ form.create_name() }}
                    {% for error in form.create_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.create_submit() }}<br>
                    {{ form.search_name.label }}<br>
                    {{ form.search_name() }}
                    {% for error in form.search_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.search_submit() }}
                </form>
                <div class='friends-messages'>
                    {% for chat in chats %}
                        <div class="chat-instance"
                             onclick="location.href = '{{ url_for('chat', chat_id=chat.id) }}';">
                            <div class="chat-image">
                                {% if chat.name.find('none') == -1 %}
                                    {% if chat.get_image() == None %}
                                        <img src="../static/empty.jpg" class="responsive">
                                    {% else %}
                                        <img src="data:'image/jpg';base64,{{ chat.get_image() }}"
                                             class="responsive">
                                    {% endif %}
                                {% elif chat.users[0] == current_user %}
                                    {% if chat.users[1].get_image() == None %}
                                        <img src="../static/empty.jpg" class="responsive">
                                    {% else %}
                                        <img src="data:'image/jpg';base64,{{ chat.users[1].get_image() }}"
                                             class="responsive">
                                    {% endif %}
                                {% else %}
                                    {% if chat.users[0].get_image() == None %}
                                        <img src="../static/empty.jpg" class="responsive">
                                    {% else %}
                                        <img src="data:'image/jpg';base64,{{ chat.users[0].get_image() }}"
                                             class="responsive">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="chat-inf">
                                <div class="chat-name">
                                    {% if chat.name.find('none') == -1 %}
                                        <h4>{{ chat.name }}</h4>
                                    {% elif chat.users[0] == current_user %}
                                        <h4>{{ chat.users[1].username }}</h4>
                                    {% else %}
                                        <h4>{{ chat.users[0].username }}</h4>
                                    {% endif %}
                                </div>
                                <div class="chat-last-message">
                                    <p> {{ chat.posts[-1].body[:15] }}</p>
                                    <p> {{ chat.posts[-1].timestamp.strftime('%H:%M %d/%m') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="notification-block">
                {% if count > 0 %}
                    <div class="card text-black bg-light mb-3">
                        <div class="card-header">Напоминание</div>
                        <div class="card-body">
                            <h5 class="card-title">Вас приглашают в следующие чаты:</h5>
                            {% for invitation in invitations %}
                                <div class="not-block">
                                <p>{{ invitation.chat.name }}</p>
                                <p class="card-text"><a
                                        href="{{ url_for('accept_the_invitation', invitation_id=invitation.id) }}">Принять
                                    приглашение</a></p>
                                <p class="card-text"><a
                                        href="{{ url_for('decline_the_invitation', invitation_id=invitation.id) }}">Отклонить
                                    приглашение</a></p>

                                </div>
                            {% endfor %}
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
