{% extends "base.html" %}

{% block content %}
    <h1>Список друзей:</h1>
    {% for follower in followers %}
        <table>
            <tr valign="top">
                <td><img src="{{ follower.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=follower.username) }}">{{ follower.username }}</a></td>
                <td><a href="{{ url_for('unfollow', username=follower.username) }}">Удалить из списка друзей</a></td>
            </tr>
        </table>
    {% endfor %}
    {% for follower in followed %}
        <table>
            <tr valign="top">
                <td><img src="{{ follower.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=follower.username) }}">{{ follower.username }}</a></td>
                <td><a href="{{ url_for('unfollow', username=follower.username) }}">Удалить из списка друзей</a></td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}