{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
    <div class = 'main-part'>
        {% for news_item in news %}
            <div class = 'note'>
                <div class = "news-origin">
                    {% if news_item.author.get_image() == None %}
                        <img src="../static/empty.jpg" max-width="36" class="responsive">
                    {% else %}
                        <img src="data:'image/jpg';base64,{{ news_item.author.get_image() }}" max-width="36" class="responsive">
                    {% endif %}
                    <p class = "news-creator">{{ news_item.author.username }}</p>
                </div>
                <p> {{news_item.text }} </p>
                <div class = "note-img-box">
                    {% if news_item.get_image() == None %}
                        <img src="../static/empty.jpg" max-width="256" class="responsive">
                    {% else %}
                        <img src="data:'image/jpg';base64,{{ news_item.get_image() }}" max-width="256" class="responsive">
                    {% endif %}
                </div>
                <p class = "toolbar">
                    <label class = "comment">
                        <label class = "comment">
                            <form action="{{ url_for('comment_from_news', username=news_item.author.username, news_id=news_item.id) }}" method="POST" enctype="multipart/form-data">

                                <p><input  type="text" class="form-control" name="comment" placeholder="Написать комментарий"></p>
                                <p><button type="submit"  class="btn btn-light" >Опубликовать комментарий</button></p>

                            </form>
                        </label>
                    </label>
                </p>
                <div class = 'comment-container'>
                    {% for comment in news_item. comments %}
                        <div class = 'comment-block'>
                            <div class = 'comment-user-inf'>
                                {% if comment.author.get_image() == None %}
                                    <img src="../static/empty.jpg" max-width="36" class="responsive">
                                {% else %}
                                    <img src="data:'image/jpg';base64,{{ comment.author.get_image() }}" max-width="36" class="responsive">
                                {% endif %}
                            </div>
                            <div class = 'comment-text'>
                                <p class = 'commentator-name'> {{comment.author.username}} </p>
                                <p class = 'comment-text'> {{ comment.body }} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
        </div>
    </div>
{% endblock %}