{% extends "base.html" %}

{% block content %}
    <div class = 'main-part'>
    <link rel="stylesheet" href="../static/profile.css" type="text/css"/>
    <div class="client-inf">
        <div class="avatar-change">
            <img src="{{ user.avatar(128) }}">
            {% if user == current_user %}
                <p class="change-button">Сменить аватар</p>
            {% endif %}
        </div>
        <div class="information-block">
            <h3>{{ user.username }}</h3>
            <p>Основная информация</p>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>В последний раз был онлайн: {{ user.last_seen }}</p>{% endif %}
            {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Изменить ваш профиль</a></p>
            {% elif not (current_user.is_following(user) or user.is_following(current_user)) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Добавить в друзья</a></p>
                <p><a href="{{ url_for('write_message', username=user.username) }}">Написать сообщение</a></p>
            {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Удалить из списка друзей</a></p>
                <p><a href="{{ url_for('write_message', username=user.username) }}">Написать сообщение</a></p>
            {% endif %}
        </div>
    </div>
    <div class = 'client-news'>
        <div class = 'note'>
            <p> Сообщение </p>
            <div class = "note-img-box">
                <img src = "../static/empty.jpg"/>
                <img src = "../static/empty.jpg"/>
            </div>
            <p class = "toolbar">
                <label class = "like">
                    Понравилось
                </label>
                <label class = "comment">
                    Написать комментарий
                </label>
            </p>
            <div class = 'comment-container'>
                <div class = 'comment-block'>
                    <div class = 'comment-user-inf'>
                        <img src = '../static/empty.jpg'>
                    </div>
                    <div class = 'comment-text'>
                        <p class = 'commentator-name'> Имя пользователя </p>
                        <p class = 'comment-text'> Комментарий </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
